/* TITRE */
h1#titre{
    text-align: center;
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Bariol;
}

/*For input number */
.blanc{
    background-color: rgb(255,255,255);
}
.vert {
    background-color: rgb(150,255,150);
}
.rouge {
    background-color: rgb(255,150,150);
}

/*Horloge graphique */

#grafHorloge img {
    top: 5px;
    position: relative;
}

/*INPUT*/
.inputNB{
    padding: 5px;
}

/* MENU */
#menu {
    background-color: #ee6e73;
    width: 200px;
    padding: 20px;
}
#menu>li{
    border : 2px solid black;
    border-radius: 10px;
    list-style-position: inside;
    background: #7cadd2;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    width: 180px;
}
#menu a{
    color: white;
}
#menu>li>ul{
    background: #616161;
    display: none;
}
#menu>li>ul>li{
    list-style:none;
    line-height: 1.3;
}
.menuTitle{
    padding-left: 100px;
}

/*RECHERCHE*/
.select {
    background-color: yellow;
}